{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Thanks &mdash; Pharma</title>
{% endblock %}

{% block body %}
    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="/">Home</a> <span class="mx-2 mb-0">/</span> <strong
              class="text-black">404</strong></div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <span class="icon-error display-3 text-danger"></span>
            <h2  class="display-3 text-black">OPPS! Result not found</h2>
            <p style="color: darkred;" class="lead mb-5">Sorry but the product you are looking for does not exist, have been removed, name changed or is temporarily unavailable.</p>


                                <form id="search-form" action="/shop/search/" method="get">
                                     <div class="form-group">
                                    <input type="text" placeholder="Search" class="form-control input-sm" id="search" name="search">
                                    <button type="submit" class="btn btn-default"> search </button>
                                    </div>
                                </form>

            <p><a href="/shop/products/" class="btn btn-md height-auto px-4 py-3 btn-primary mt-5">Back to store</a></p>
          </div>
        </div>
      </div>
    </div>

{% endblock %}