{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>About Us &mdash; Pharma</title>
{% endblock %}

{% block body %}
    <div class="site-blocks-cover inner-page" style="background-image: url('{% static 'shop/images/bg_about.jpeg' %}');">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 mx-auto align-self-center">
            <div class=" text-center">
              <h1>About Us</h1>
              <p>The Products we offer to our customer all are imported and 100% original.We offer only short range of vitamin products which we are highly trusted.</p>
                <p>Whether you are already our customer or just visiting our website, we appreciate the time you spend with us and look forward to doing business with you.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}